:root {
  --background-color: #fff;
  --background-blur: rgba(0, 0, 0, 0.5);
  --border-color: #808080;
  --text-color: #000;
  --text-color-r: #fff;

  --table-header: #f2f2f2;
  --table-hover: #f3f3f3;

  --nav-bar: #333;
  --nav-bar-hover: #222;
}


* {
    font-size: 20px;
    font-family: "Times New Roman";
}

html {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

h1 {
    font-size: 1.5rem;
}

h2 {
    font-size: 1rem;
}

p {
    font-size: 1rem;
}

.indent {
    text-indent: 2rem;
}

.center {
    text-align: center;
}

.new-line::after {
    content: "\A";
    display: block;
    white-space: pre;
}

.block-container {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: .5rem;
}

.block-container-list {
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: .5rem;
}

.block-container li {
    padding-bottom: 1rem;
    text-indent: 0;
}

.block-text, .block-image {
    flex: 1;
    min-width: 100px;
    padding: .5rem;
}

.block-image img {
    width: 90%;
}

/*--------------------------------------------------------------------------------------*/

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 1rem;
}

th, td {
    border: 1px solid var(--border-color);
    padding: 1rem;
    text-align: left;
}

th {
    background-color: var(--table-header);
}

tr:hover {
    background-color: var(--table-hover);
}

nav {
    background-color: var(--nav-bar);
    overflow: hidden;
    margin: 0;
    width: 100%;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 .25rem;
}

nav ul li a {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text-color-r);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}

nav ul li a:hover {
    background-color: var(--nav-bar);
}

nav ul li button {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text-color-r);
    text-align: center;
    padding: 14px 16px;
    background: none;
    border: none;
    cursor: pointer;
    text-decoration: none;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    font-weight: inherit;
}

nav ul li button:hover {
    background-color: var(--nav-bar-hover);
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: var(--background-blur);
}

.modal-content {
    background-color: var(--background-color);
    margin: 15% auto;
    padding: 20px;
    border: 1px solid var(--border-color);
    height: 60vh;
    width: 80%;
    overflow-y: auto;
}

.close {
    color: var(--nav-bar);
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: var(--text-color);
    text-decoration: none;
    cursor: pointer;
}