<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ChessWeb</title>
    <link rel="stylesheet" href="../../static/main.css">
    <script src="../../static/main.js"></script>
</head>
<body>
    {% if user.is_authenticated %}
        <div class="block-container">
            <div class="block-text">
                <h1 class="center">Welcome, {{ user.username }}!</h1>
                <p class="center">ChessWeb is a web based application designed for Oakwood Elementary's Chess Club with the main purpose of simplifying
                    the process of updating ratings and pairing the members. It is designed and maintained by Makenna Worley using the Django
                    framework.</p>
            </div>
        </div>

        <nav>
            <ul>
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'manual_change' %}">Manual Change</a></li>
                <!--<li><a href="import-players.html">Import Players</a></li>-->
                <li><a href="{% url 'input_results' %}">Input Results</a></li>
                <li><a href="{% url 'pair' %}">Pair</a></li>
                <li><a href="{% url 'help' %}">Help</a></li>
                <li>
                    <form method="post" action="{% url 'logout' %}" style="display:inline;">
                        {% csrf_token %}
                        <button type="submit" class="nav-button">
                            Log Out
                        </button>
                    </form>
                </li>
            </ul>
        </nav>
    {% endif %}

    <div class="content">
        {% block content %} {%  endblock %}
    </div>
</body>
<footer>
    <p class="center">Created by Makenna Worley <a href="https://www.makennaworley.com" target="_blank">website</a></p>
</footer>
</html>