{%  extends 'chess/base.html' %}

{% block content %}
    <div>
        <h1>Help page</h1>
        <h2>Home</h2>
        <p class="indent">On the home page, you can see the current ratings as stored in the database or pairings for any week
            in the database.</p>
        
        <p class="indent">There will also be a small pencil icon to the right of each entry, which will let you edit that paricular
            entry</p>
        <p class="indent">There will also have a search bar feature, this will hopefully dynamically search as you type.</p>
        
        <h2>Manual Change</h2>
            <p class="indent">This hasn't been added yet, but this is where you can add a class or player manually. Or set
                up the database for the next year.</p>
            <p class="indent">If you are trying to add a class but cannot find the teacher, you need to create the player first
                then you can assign a class to them!</p>
            <p class="indent">If you are trying to add a player but cannot find the class, you need to create the class first
                then you can assign a player to that class!</p>
        
        <h2>Input Results</h2>
            <p class="indent">Here is where you would go to add the results of a date's match. You first need to select the date of
                the match you are trying to change, then you should see a current pop up of all the games that were played on that
                date.
            <p class="indent">You can change the players on that board and/or the result of the game. If you need to have
                the board blank (as in no player on White and/or Black, scroll to the bottom to find 'N/A').</p>
            <p class="indent">After you have added all the results <strong>(Please double check this!)</strong> hit the submit button.</p>
            <p class="indent">After the submit button has been clicked, you should see a pop-up saying which should tell you which
                boards have been changed in the database and who's ratings have changed. After you see the ratings have been updated,
                you can now head over to "Pair" and pair your next set of games.</p>
            <p class="indent"><strong>If you put in the result wrong and change it in this form, the ratings will be off. Do NOT do this,
                you can either manually fix it through the home page edit or contact me!</strong></p>
            <p class="indent"><strong>If you pair a student vs volunteer the student's rating will NOT change!</strong></p>
            <p class="indent">Under the "Download Ratings" section. This had two options:
                <ul>
                    <li>Download a previous rating sheet already on the server</li>
                    <li>Create a new ratings sheet with information in the server, this will also save the file to the server for
                        future reference</li>
                </ul>
            </p>
        
        <h2>Pair</h2>
            <p class="indent">This hasn't been added yet, but this is where you would have the computer do the pairings! If
                you have a specific match (such as a teacher vs student) in mind, you need to add those games <strong>BEFORE</strong> you
                hit "Pair!" After a success message, you can head over to "Download" tab.</p>
            <p class="indent">If you are downloading a pairing sheet, it will <strong>ALWAYS</strong> download what is in the database at
                the moment you hit download. This does <strong>NOT</strong> save older versions of the pairing sheet for that date!</p>
        <h2>Didn't Find the Answer You Were Looking For?</h2>
            <p class="indent">Contact me at totally_my_email@email.com or text me at Not-To-Day!</p>
    </div>
{% endblock %}