{% extends 'chess/base.html' %}

{% block content %}
    <div class="block-container-list">
        <div class="block-text center">
            <h1>Make Pairing Sheet</h1>

            <div id="date-picker">
                <label for="selectedDate">Select Date:</label>
                <input type="date" id="selectedDate" name="selectedDate">
                <button type="submit" id="dateSubmitBtn">Create Games</button>
            </div>

            <div id="gameModal" class="modal">
                <div class="modal-content">
                    <span class="close">&times;</span>
                    <h2>Create New Games for <span id="selectedDate"></span></h2>

                    <form id="newGamesForm" method="POST" action="#">
                        {% csrf_token %}
                        <table>
                            <thead>
                            <tr>
                                <th>Board</th>
                                <th>White Player</th>
                                <th>Black Player</th>
                            </tr>
                            </thead>
                            <tbody id="newGamesTableBody">
                            </tbody>
                        </table>
                        
                        <label for="separateClasses">Pair Sam's and Krishnam's class separate?:</label>
                        <input type="checkbox" id="separateClasses" name="separate_classes" value="true"><br>
                        <button type="submit">Pair!</button>
                    </form>
                </div>
            </div>
        </div>

        <div class="block-text center">
            <h1 class="center">Download Pairing Sheet</h1>
            <form method="POST" action="{% url 'download_pairings' %}">
                {% csrf_token %}
                <label for="{{ form.date.id_for_label }}">Date of Match:</label>
                {{ form.date }}
                <br><br>
                <button type="submit">Download Pairing Sheet</button>
            </form>
        </div>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const dateSubmitBtn = document.getElementById('dateSubmitBtn');
            const gameModal = document.getElementById('gameModal');
            const closeModal = document.getElementsByClassName('close')[0];
            const newGamesTableBody = document.getElementById('newGamesTableBody');
            const selectedDateSpan = document.getElementById('selectedDate');
            
            let cachedPlayers = null;
            
            async function fetchPlayers() {
                if (cachedPlayers) {
                    return cachedPlayers;
                }
            
                try {
                    const response = await fetch("{% url 'get_players' %}");
                    if (!response.ok) {
                        throw new Error('Error reading data');
                    }
                    const data = await response.json();
                    cachedPlayers = data.players;
                    return cachedPlayers;
                } catch (error) {
                    console.error('There was a problem fetching player data:', error);
                }
            }

            function formatDate(dateString) {
                const date = new Date(dateString);
                const year = date.getFullYear();
                const month = String(date.getMonth() + 1).padStart(2, '0');
                const day = String(date.getDate()).padStart(2, '0');
                return `${year}-${month}-${day}`;
            }

            async function populatePlayerDropdown(selectedPlayer) {
                let dropdownHTML = '';

                const players = await fetchPlayers();

                if (Array.isArray(players)) {
                    players.forEach(player => {
                        const playerName = `${player.last_name}, ${player.first_name}`;
                        dropdownHTML += `<option value="${playerName}" ${playerName === selectedPlayer ? 'selected' : ''}>${playerName}</option>`;
                    });
                }

                dropdownHTML += `<option value="N/A" ${selectedPlayer === 'N/A' ? 'selected' : ''}>N/A</option>`;
                return dropdownHTML;
            }

            // Function to handle player selection and set other occurrences of that player to N/A
            function handlePlayerSelection(selectedDropdown) {
                const selectedPlayer = selectedDropdown.value;
                const playerDropdowns = document.querySelectorAll('.player-select');

                playerDropdowns.forEach(dropdown => {
                    if (dropdown !== selectedDropdown && dropdown.value === selectedPlayer) {
                        dropdown.value = 'N/A';
                    }
                });
            }

            dateSubmitBtn.addEventListener('click', async function (event) {
                event.preventDefault();
                const selectedDate = document.getElementById('selectedDate').value;

                if (!selectedDate) {
                    alert('Please select a date before continuing.');
                    return;
                }

                const formattedDate = formatDate(selectedDate);

                if (formattedDate) {
                    newGamesTableBody.innerHTML = '';
                    const boards = [
                        ...Array.from({length: 5}, (_, i) => `G-${i + 1}`),
                        ...Array.from({length: 6}, (_, i) => `H-${i + 1}`),
                        ...Array.from({length: 22}, (_, i) => `I-${i + 1}`),
                        ...Array.from({length: 22}, (_, i) => `J-${i + 1}`)
                    ];

                    for (const board of boards) {
                        const row = `
                        <tr>
                            <td>${board}</td>
                            <td>
                                <select class="player-select" data-player="white">
                                    ${await populatePlayerDropdown('N/A')}
                                </select>
                            </td>
                            <td>
                                <select class="player-select" data-player="black">
                                    ${await populatePlayerDropdown('N/A')}
                                </select>
                            </td>
                        </tr>
                        `;
                        newGamesTableBody.insertAdjacentHTML('beforeend', row);
                    }

                    document.querySelectorAll('.player-select').forEach(select => {
                        select.addEventListener('change', function () {
                            handlePlayerSelection(this);
                        });
                    });

                    selectedDateSpan.textContent = selectedDate;
                    gameModal.style.display = 'block';
                    document.body.style.overflow = 'hidden';
                }
            });

            document.getElementById('newGamesForm').addEventListener('submit', function (event) {
                event.preventDefault();

                const selectedDate = document.getElementById('selectedDate').value;
                const formattedDate = formatDate(selectedDate);
                
                const separateClassesChecked = document.getElementById('separateClasses').checked;

                gamesData = []

                document.querySelectorAll('#newGamesTableBody tr').forEach((row, index) => {
                    const board = row.querySelector('td:nth-child(1)').textContent;
                    const whitePlayer = row.querySelector('td:nth-child(2) select').value;
                    const blackPlayer = row.querySelector('td:nth-child(3) select').value;

                    if (whitePlayer !== "N/A" && blackPlayer !== "N/A") {
                        gamesData.push({ board, whitePlayer, blackPlayer });
                    }
                });

                fetch("{% url 'new_pairings' %}", {
                    method: 'POST',
                    headers: {
                        'X-CSRFToken': '{{ csrf_token }}'
                    },
                    body: JSON.stringify({
                        game_date: formattedDate, 
                        games: gamesData, 
                        separate_classes: separateClassesChecked
                    })
                }).then(response => {
                    if (response.ok) {
                        alert('Pairings saved successfully!');
                        gameModal.style.display = 'none';
                    } else {
                        alert('Error pairing games');
                    }
                });
            });

            // Close the modal when the "close" button is clicked
            closeModal.addEventListener('click', function () {
                gameModal.style.display = 'none';
                document.body.style.overflow = 'auto';
            });

            // Close the modal when clicking outside of the modal content
            window.addEventListener('click', function (event) {
                if (event.target === gameModal) {
                    gameModal.style.display = 'none';
                    document.body.style.overflow = 'auto';
                }
            });
        });
    </script>
{% endblock %}
